wildfy:
  build: wildfly
  ports:
    - 8080:8080
    - 9990:9990
  links:
    - pg
  volumes:
    - ./deployments:/opt/jboss/wildfly/standalone/deployments/
pg:
  image: postgres:9.5
  volumes:
    - ./postgres:/docker-entrypoint-initdb.d
  environment:
    POSTGRES_USER: postgres
    POSTGRES_PASSWORD: postgres
    POSTGRES_DB: nitro

